* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background: url(./img/canyon-upscaled.jpg);
  background-size: cover;
}

.content {
  background-color: rgba(0, 0, 0, 0.26);
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* WEATHER CONTAINER (TOP) */

.weather-container {
  width: 90%;
  height: 50%;
  background-color: rgba(250, 235, 215, 0.123);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-container,
.details-container {
  width: 40%;
  height: 100%;
  background-color: rgba(0, 255, 255, 0.226);
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.city {
  font-size: 2rem;
}

.description {
  font-size: 1.6rem;
}

.time {
  font-size: 1rem;
  font-style: italic;
}

.temperature {
  font-size: 1.4rem;
}

.temp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-icon {
  content: url(./img/search_icon.svg);
  width: 35px;
  height: 35px;
}

.weather-icon {
  width: 100px;
  height: 100px;
}

/* DETAILS CONTAINER RIGHT TOP */

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
}

.weather-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 0.5rem;
}

.details-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 65px;
}

.details-info > span:first-child {
  color: white;
  font-weight: bold;
}

.humidity-icon {
  content: url(./img/humidity_icon.svg);
  width: 35px;
  height: 35px;
}

.feelslike-icon {
  content: url(./img/max-icon.svg);
  width: 35px;
  height: 35px;
}

.wind-icon {
  content: url(./img/wind-icon.svg);
  width: 35px;
  height: 35px;
}

.pressure-icon {
  content: url(./img/pressure-icon.svg);
  width: 35px;
  height: 35px;
}

.min-icon {
  content: url(./img/min-icon.svg);
  width: 35px;
  height: 35px;
}

.max-icon {
  content: url(./img/max-icon.svg);
  width: 35px;
  height: 35px;
}

/* FORECAST CONTAINER (BOTTOM) */

.forecast-container {
  width: 90%;
  height: 30%;
  background-color: rgba(165, 101, 18, 0.274);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forecast-change {
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 255, 0.308);
}

.forecast-container-daily {
  width: 100%;
  height: 70%;
  background-color: rgba(165, 42, 42, 0.315);
}

.forecast {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.forecast-details {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/* SLIDER */

.forecast-change {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 25px;
  border: 2px solid transparent;
}

.slide-right {
  content: url(./img/navigate_next.svg);
}

.slide-left {
  content: url(./img/navigate_before.svg);
}

.slide-left,
.slide-right {
  width: 35px;
  height: 35px;
  transition: ease-in 0.3s;
}

.slide-left:hover,
.slide-right:hover {
  scale: 1.2;
  cursor: pointer;
}

/* BTNS */

.forecast-btns {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.btn {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: rgba(255, 255, 255, 0.075);
  overflow: hidden;
  border: 2px solid #4433ff;
  color: #4433ff;
}
.btn:hover {
  color: #fff;
  scale: 1.05;
}
.btn:hover:after {
  width: 100%;
}
.btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.5s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #4433ff;
}

.btn-active {
  background: #4433ff;
  color: #fff;
}
