* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background: url(./img/canyon-upscaled.jpg);
  background-size: cover;
}

.content {
  background-color: rgba(0, 0, 0, 0.26);
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* WEATHER CONTAINER (TOP) */

.weather-container {
  width: 90%;
  height: 50%;
  background-color: rgba(250, 235, 215, 0.123);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-container,
.details-container {
  width: 40%;
  height: 100%;
  background-color: rgba(0, 255, 255, 0.226);
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.city {
  font-size: 2rem;
}

.description {
  font-size: 1.6rem;
}

.time {
  font-size: 1rem;
  font-style: italic;
}

.temperature {
  font-size: 1.4rem;
}

.temp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.search-icon {
  content: url(./img/search_icon.svg);
  width: 35px;
  height: 35px;
}

/* DETAILS CONTAINER RIGHT TOP */

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
}

.weather-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 0.5rem;
}

.details-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 65px;
}

.details-info > span:first-child {
  color: white;
  font-weight: bold;
}

.humidity-icon {
  content: url(./img/humidity_icon.svg);
  width: 35px;
  height: 35px;
}

.feelslike-icon {
  content: url(./img/max-icon.svg);
  width: 35px;
  height: 35px;
}

.wind-icon {
  content: url(./img/wind-icon.svg);
  width: 35px;
  height: 35px;
}

.pressure-icon {
  content: url(./img/pressure-icon.svg);
  width: 35px;
  height: 35px;
}

.min-icon {
  content: url(./img/min-icon.svg);
  width: 35px;
  height: 35px;
}

.max-icon {
  content: url(./img/max-icon.svg);
  width: 35px;
  height: 35px;
}

/* FORECAST CONTAINER (BOTTOM) */

.forecast-container {
  width: 90%;
  height: 30%;
  background-color: rgba(165, 101, 18, 0.274);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forecast-change {
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 255, 0.308);
}

.forecast-container-daily {
  width: 100%;
  height: 70%;
  background-color: rgba(165, 42, 42, 0.315);
}

h1 {
  color: white;
}
