* {
  padding: 0;
  margin: 0;
}

:root {
  --color1: #1a9788;
  --color2: #564838;
  --color3: #f0b479;
  --color3-reduced: #f0b479be;
  --color4: #47190859;
  --color5: #a4a87898;
}

@font-face {
  font-family: Orbitron;
  src: url(./fonts/Orbitron-VariableFont_wght.ttf);
}

@font-face {
  font-family: Mochit;
  src: url(./fonts/MochiyPopOne-Regular.ttf);
}

@font-face {
  font-family: Ubuntu;
  src: url(./fonts/Ubuntu-Regular.ttf);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background: url(./img/canyon-upscaled.jpg);
  background-size: cover;
}

.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

/* WEATHER CONTAINER (TOP) */

.weather-container {
  width: 90%;
  height: 50%;
  background-color: rgba(250, 235, 215, 0.123);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color4);
  box-shadow: 0 12px 12px 12px #47190859;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem 0;
  margin-top: 2rem;
}

.info-container,
.details-container {
  width: fit-content;
  height: 100%;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
}

.city {
  font-size: 1.5rem;
  font-family: Mochit, sans-serif;
  color: var(--color3-reduced);
}

.description {
  font-size: 2rem;
  font-family: Mochit, sans-serif;
  color: var(--color3-reduced);
}

.day {
  font-style: italic;
  font-family: Ubuntu, sans-serif;
  font-size: 1.4rem;
  color: var(--color5);
}

.time {
  font-size: 1.2rem;
  font-style: italic;
  font-family: Ubuntu, sans-serif;
  color: var(--color5);
}

.temperature {
  font-size: 2.5rem;
  font-family: Ubuntu, sans-serif;
  margin-bottom: 1rem;
  color: var(--color3);
  padding-left: 0.3rem;
}

.temp-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid var(--color3);
  width: fit-content;
  margin-left: 0.2rem;
  margin-top: 0.5rem;
}

.search-icon {
  content: url(./img/search_icon.svg);
  width: 50px;
  height: 50px;
}

.weather-icon {
  width: 125px;
  height: 125px;
}

input {
  font-family: Ubuntu, sans-serif;
  background: transparent;
  border: none;
  padding-left: 0.4rem;
  width: 200px;
  height: 50px;
  font-size: 2rem;
  color: var(--color3);
}

input:active,
input:focus {
  outline: none;
}

input::placeholder {
  color: var(--color5);
  font-size: 2rem;
}

/* DETAILS CONTAINER RIGHT TOP */

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  width: fit-content;
}

.weather-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 0.5rem;
}

.details-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.details-info > span:first-child {
  color: var(--color5);
  font-weight: bold;
  font-size: 2rem;
  font-family: Ubuntu, sans-serif;
  font-style: italic;
}

.details-info > span:nth-child(2) {
  color: var(--color3);
  font-size: 1.6rem;
  font-family: Ubuntu, sans-serif;
}

.humidity-icon {
  content: url(./img/humidity_icon.svg);
  width: 50px;
  height: 50px;
  margin-right: 0.4rem;
}

.feelslike-icon {
  content: url(./img/max-icon.svg);
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
}

.wind-icon {
  content: url(./img/wind-icon.svg);
  width: 50px;
  height: 50px;
  margin-right: 2.3rem;
}

.pressure-icon {
  content: url(./img/pressure-icon.svg);
  width: 50px;
  height: 50px;
  margin-right: 0.5rem;
}

.min-icon {
  content: url(./img/min-icon.svg);
  width: 35px;
  height: 35px;
}

.max-icon {
  content: url(./img/max-icon.svg);
  width: 35px;
  height: 35px;
}

/* FORECAST CONTAINER (BOTTOM) */

.forecast-container {
  width: 90%;
  height: fit-content;
  background-color: rgba(165, 101, 18, 0.274);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color4);
  box-shadow: 0 12px 12px 12px #47190859;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-bottom: 3rem;
}

.forecast-change {
  width: 100%;
  height: 30%;
}

.forecast-container-daily {
  width: 100%;
  height: 70%;
}

.daily {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 30%;
  padding-top: 1rem;
}

.forecast {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.forecast-details {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.forecast-time {
  color: var(--color5);
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  font-family: Ubuntu, sans-serif;
}

.forecast-day {
  color: var(--color5);
  font-family: Ubuntu, sans-serif;
  padding-bottom: 1rem;
}

.forecast-temp {
  font-family: Ubuntu, sans-serif;
  font-size: 1.6rem;
  color: var(--color3);
}

.forecast-temp-noon {
  font-size: 1.6rem;
  padding-top: 1rem;
  font-family: Ubuntu, sans-serif;
}

.forecast-temp-night {
  padding-top: 0.4rem;
  font-size: 1rem;
  font-family: Ubuntu, sans-serif;
}

/* SLIDER */

.forecast-change {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  height: fit-content;
  border-bottom: 2px solid #cc816573;
  width: 95%;
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.dot {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 25px;
  border: 2px solid transparent;
}

.slide-right {
  content: url(./img/navigate_next.svg);
}

.slide-left {
  content: url(./img/navigate_before.svg);
}

.slide-left,
.slide-right {
  width: 35px;
  height: 35px;
  transition: ease-in 0.3s;
}

.slide-left:hover,
.slide-right:hover {
  scale: 1.2;
  cursor: pointer;
}

/* BTNS */

.forecast-btns {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.btn {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: rgba(255, 255, 255, 0.075);
  overflow: hidden;
  border: 2px solid var(--color5);
  color: var(--color5);
}
.btn:hover {
  color: #fff;
  scale: 1.05;
}
.btn:hover:after {
  width: 100%;
}
.btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.5s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: var(--color5);
}

.btn-active {
  background: var(--color5);
  color: #fff;
}
